@model ClienteViewModel
<h1>Está seguro que desea eliminar el registro?</h1>

<form asp-controller="Cliente" asp-action="Delete" method="POST">
    @Html.HiddenFor(m => m.Id)
    <input type="submit" value="Eliminar" class="btn btn-danger">
    @Html.ActionLink("Cancelar","Index","Cliente",null,new{@class ="btn btn-secondary"})
</form>